.ant-modal-root {
  .ant-modal-content {
    border-radius: 10px;
    padding-bottom: 10px;
  }

  .ant-modal-header {
    border-radius: 10px;

    .ant-modal-title {
      font-weight: bold;
      font-size: 25px;
    }

    border-bottom: 0;
  }

  .ant-modal-footer {
    border-top: 0;

    .button-add {
      border: none;
      box-shadow: none;
      padding: 5px 15px;
      font-weight: 600;
      border: 4px;
      background-color: #dbdbdb;
      height: 35px;

      &.active {
        background-color: #007a5a;
        color: white;
      }
    }
  }
}