.ant-modal-root {
    .ant-modal-content {
        border-radius: 10px;
    }

    .ant-modal-header {
        border-radius: 10px;

        .ant-modal-title {
            font-weight: bold;
            font-size: 25px;
        }

        border-bottom: 0;
    }

    .ant-modal-footer {
        border-top: 0;
    }
}