//grid breakpoints
$grid-breakpoints: (
    xxs: 360px,
    xs: 481px,
    sm: 768px,
    smplus: 769px,
    mdminus: 866px,
    md: 992px,
    lg: 1025px,
    xl: 1200px,
);


//colors
$colors: (
    c-bg: #350D36,
    c-sb: #3F0E40,

    c-white: #fff,
    c-blue: #232e48,
    c-blue-2: #1a489c,
    c-blue-3: #303f62,
    c-blue-4: #f5f8ff,
    c-yellow: #ffd25d,
    c-yellow-2: #fff6df,
    c-yellow-3: #fff6de,
    c-gray: #5e5e66,
    c-gray-2: #dddee0,
    c-gray-8: #f3f3f3,
    c-gray-4: #cccccc,
    c-gray-5: #f2f2f2,
    c-gray-6: #7b7b85,
    c-gray-7: #d2d2d2,
    c-gray-9: #494949,
    c-gray-10: #fafafa,
    c-gray-11: #757575,
    c-pink: #e02d47,
    c-pink-2: #f5455a,
    c-gray-light: #ddd,
    c-gray-3: #a5a5ac,
    c-light-gray: #656565,
    c-dark-green: #078171,
);


//fonts
$fonts: (
    f-english: ('Lato', Meiryo, 'Hiragino Mincho Pro', 'Hiragino Kaku Gothic Pro','Tahoma','Osaka'),
    f-japan: ('Meiryo', 'Hiragino Mincho Pro', 'Hiragino Kaku Gothic Pro','Tahoma','Osaka'),
    f-chinese: ('Microsoft Yahei', Meiryo, 'Hiragino Mincho Pro', 'Hiragino Kaku Gothic Pro','Tahoma','Osaka'),
    f-korean: ('Malgun Gothic', Meiryo, 'Hiragino Mincho Pro', 'Hiragino Kaku Gothic Pro','Tahoma','Osaka'),
    f-taiwanese: ('Microsoft Jhenghei', Meiryo, 'Hiragino Mincho Pro', 'Hiragino Kaku Gothic Pro','Tahoma','Osaka')
);


$bg-color: color(c-bg);
$bg-color-search-bar: color(c-sb);
$bg-color-side-bar: color(c-sb);

$bg-color-nav: color(c-blue);
$bg-color-yellow: color(c-yellow);
$bg-color-yellow-2: color(c-yellow-2);
$bg-color-blue: color(c-blue);
$bg-color-blue-2: color(c-blue-2);
$bg-color-blue-4: color(c-blue-4);
$bg-color-gray-3: color(c-gray-3);
$bg-color-gray-8: color(c-gray-8);
$bg-color-gray-5: color(c-gray-5);
$bg-color-gray-7: color(c-gray-7);
$bg-color-gray-9: color(c-gray-9);
$bg-color-gray-10: color(c-gray-10);
$bg-color-pink: color(c-pink);
$bg-color-yellow-3: color(c-yellow-3);
$bg-color-white: color(c-white);
$text-color-yellow: color(c-yellow);
$text-color-blue: color(c-blue);
$text-color-blue-2: color(c-blue-2);
$text-color-gray: color(c-gray);
$text-color-gray-6: color(c-gray-6);
$text-color-gray-10: color(c-gray-10);
$text-color-gray-11: color(c-gray-11);
$text-color-gray-9: color(c-gray-9);
$text-color-pink: color(c-pink);
$text-color-pink-2: color(c-pink-2);
$text-color-light-gray: color(c-light-gray);
$text-dark-green: color(c-dark-green);
$border-color-yellow: color(c-yellow);
$border-color-blue: color(c-blue);
$border-color-blue-3: color(c-blue-3);
$border-color-gray-2: color(c-gray-2);
$border-color-gray-4: color(c-gray-4);
$text-color-placeholder: color(c-gray-3);
$border-color-yellow: color(c-yellow);
$border-color-blue: color(c-blue);
$border-color-blue-2: color(c-blue-2);
$border-color-blue-3: color(c-blue-3);
$border-color-gray-2: color(c-gray-2);
$border-color-gray-4: color(c-gray-4);
$border-color-gray-6: color(c-gray-6);
$border-color-gray-7: color(c-gray-7);
$border-color-pink: color(c-pink);
$border-dark-green: color(c-dark-green);
$box-shadow-room-card: 2px 3px 14px 0px rgba(74, 74, 74, 0.25);
$mbsc-ios-accent: #e61d2a;
$mbsc-material-accent: #e61d2a;
$mbsc-mobiscroll-accent: #e61d2a;
$mbsc-material-frame-accent: #e61d2a;
$mbsc-material-dark-calendar-mark: #e61d2a;
$mbsc-material-dark-frame-accent: #e61d2a;
$border-color-light-gray: color(c-gray-light);
$font-english: font(f-english);
$font-japan: font(f-japan);
$font-chinese: font(f-chinese);
$font-korean: font(f-korean);
$font-taiwanese: font(f-taiwanese);
