.side-nav {
    min-width: 300px;
    height: 100%;
    background: $bg-color-side-bar;
    color: #fff;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px;
        border-top: 1px solid #522653;
        border-bottom: 1px solid #522653;

        &__drop-box {
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
        }

        &__new-message {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    &__content {
        .side-nav-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #bcabbc;
            font-weight: 600;
            cursor: pointer;

            &__title {
                display: flex;
                align-items: center;
                padding: 10px 15px;

                &:hover {
                    background: $bg-color;
                    color: #fff;
                }
            }

            &__icon {
                width: 30px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.2s ease-in-out;
            }

            .channels-content {
                max-height: 0;
                overflow: hidden;
                transition: 0.2s ease-in-out;

                &__list-item {
                    .channels-content-item {
                        padding: 5px 40px;

                        &::before {
                            content: "#";
                            margin-right: 10px;
                        }

                        &:hover {
                            background: $bg-color;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .side-nav-active {
            .channels-content {
                max-height: 1000px;
            }

            .side-nav-item__icon {
                transform: rotate(90deg);
            }
        }
    }
}